ul {
  list-style: none;
}

li {
  margin: .65em 0;
}

h3 {
  margin-top: 0;
}

.player-detail {
  font-size: 1.1em;
  padding: 1.65em 0 1.4em 1.65em;
}
  .player-detail p {
    margin: 0;
    color: rgba(255,255,255, .75);
  }
  
  .player-detail ul {
    padding: 0;
    text-transform: initial;
  }
  
  .player-detail ul span {
    color: rgba(255, 255, 255, .43);
    display: inline-block;
    padding-right: .6em;
    width: 3.8em;
  }