.ul-list {
  font-weight: bold;
  columns: 6;
  list-style-type: none;
  margin-top: 50px;
}

.li-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #0000ff;
}

.li-list {
  transition: all .2s ease-in-out;

}

.li-list:hover {
  transform: scale(1.5)
}


@media (min-width: 360px) {
  .ul-list {
    font-weight: bold;
    columns: 2;
    list-style-type: none;
    margin-top: 50px;
    text-align: left;
  }
}