.App {
  text-align: center;
}
.Home-app {
  width: 50%;
  margin: 0 auto;
}

.App-img1 {
  position: absolute;
  width: 75px;
  top: 0;
  left: 200px;
}

.App-img2 {
  position: absolute;
  width: 75px;
  top: 0;
  right: 200px;
}

.Home-app {
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 415px) {
  .App-img1 {
    position: absolute;
    width: 35px;
    left: 5px;
    margin-top: 25px;
  }
  
  .App-img2 {
    position: absolute;
    width: 35px;
    top: 0;
    right: 5px;
    margin-top: 25px;
  }
}
